<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stock Predictor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="projections">{{ headTitle }}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="projections">Projections</a></li>
      <li><a href="predict">Predictions</a></li>
      <li><a href="trends">Current Trends</a></li>
      <li class="active"><a href="custom">Custom Predictor</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h3>Customised Predictor</h3>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="col-sm-6">
        <form action="custom" method="post">
          <div class="form-group">
            <select class="form-control" name="tick">
              <option><h4>Select a Stock</h4></option>
              <optgroup label="End of Day Stocks">
              <option value="EOD/HD">Home Depot Inc.</option>
              <option value="EOD/BA">The Boeing Company</option>
              <option value="EOD/MMM">3M Company</option>
              <option value="EOD/PFE">Pfizer Inc.</option>
              <option value="EOD/MSFT">Microsoft Corporation</option>
              <option value="EOD/JNJ">Johnson & Johnson</option>
              <option value="EOD/DIS">The Walt Disney Company</option>
              <option value="EOD/INTC">Intel Corporation</option>
              <option value="EOD/NKE">Nike Inc.</option>
              <option value="EOD/MCD">McDonald's Corporation</option>
              </optgroup>
              <optgroup label="WIKI">

              </optgroup>
            </select>
            <br/>
            <input class="btn btn-primary" type="submit">
          </div>
        </form>
      <p align="center"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="col-sm-6">
      <h4 align="center">Historical Projection - {{ticker}}</h4>
      <img src="/customPREDClose.png" width="500" alt="my plot"></img>
      <p align="center"></p>
      </div>
      <div class="col-sm-6">
      <h4 align="center">Approximate Prediction - {{ticker}}</h4>
      <img src="/customPREDForecast.png" width="500" alt="my plot"></img>
      <p align="center"></p>
      </div>
    </div>
  </div>

</div>

</body>
</html>
