<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stock Predictor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script>

  </script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">Stock Predictor using ML and DS - REVA University - B.Tech CSE - Group H1 - Batch of 2020</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="home">Home</a></li>
      <li><a href="predict">View Predictions</a></li>
      <li><a href="trends">Current Trends</a></li>
      <li><a href="graph">Graphs</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h3>Overview of various Stock Projections</h3>
  <p></p>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="col-sm-6">
      <img src="/plotMSFT.png" width="500" alt="my plot"></img>
      <p align="center">{{ tickerMS }} - {{ descMSFT }}</p>
      </div>
      <div class="col-sm-6">
      <img src="/plotDIS.png" width="500" alt="my plot"></img>
      <p align="center">{{ tickerDS }} - {{ descDIS }}</p>
      </div>

    </div>
  </div>

    <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="col-sm-6">
      <img src="/plotBA.png" width="500" alt="my plot"></img>
      <p align="center">{{ tickerBA }} - {{ descBA }}</p>
      </div>
      <div class="col-sm-6">
      <img src="/plotINTC.png" width="500" alt="my plot"></img>
      <p align="center">{{ tickerINTC }} - {{ descINTC }}</p>
      </div>

    </div>
  </div>

</div>


</body>
</html>
